.title { 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.title .astin-base {
    font-family: 'Bungee Shade', cursive;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 40px;
        height: 6vh;
    }

    .title .astin-base {
        font-size: 40px;
    }

    .title .noun {
        font-size: 16px;
        margin-top: 18px;
        margin-left: 6px;
    }

    .definition {
        margin-top: 12px;
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 32px;
        height: 12vh;
    }

    .title .astin-base {
        font-size: 68px;
    }

    .title .noun {
        margin-top: 30px;
        margin-left: 12px;
    }

    .definition {
        font-size: 20px;
    }
}

