.link-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link-icons > * {
    margin: 0 8px;
    color: lightslategray;
}

.link-icons > *:hover {
    color: lightcoral;
    cursor: pointer;
}

.icon-disabled {
    color: lightslategray;
    opacity: .25;
}

.icon-disabled:hover {
    color: lightslategray;
    cursor: default;
}