.music {
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.album-title {
    font-size: 26px;
    line-height: 38px;
}

.songs {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.song {
    margin: 5px 0;
}

.song:hover {
    color: lightcoral;
    cursor: pointer;
}