.music {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.album-title {
    font-family: 'Bungee Shade';
    color: lightcoral;
    font-size: 38px;
    line-height: 38px;
    max-width: 600px;
    margin-top: 10px;
}

.coming-soon {
    font-family: 'Bungee Shade';
    color: lightcoral;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    white-space: nowrap;
    -webkit-text-stroke: 0.2px lightslategray; /* width and color */
    margin: 5px 0 8px 0;
}

.songs {
    font-family: 'Bungee Shade';
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
}

.song {
    -webkit-text-stroke: 1px lightslategray; /* width and color */
    margin: 5px 0;
    height: 40px;
    line-height: 28px;
}

.song:hover {
    color: lightcoral;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .music {
        margin: 10px 0;
    }

    .album-title {
        font-size: 32px;
        line-height: 32px;
        margin: 4px 10px 0 10px;
        
    }

    .songs {
        font-size: 30px;
    }

    .coming-soon {
        font-size: 30px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .music {
        margin: 20px 0;
    }

    .album-title {
        font-size: 38px;
        line-height: 38px;
    }

    .songs {
        font-size: 32px;
    }

    .coming-soon {
        font-size: 32px;
    }

}

@media screen and (min-width: 800px) {
    .music {
        margin: 20px 0;
    }

    .album-title {
        font-size: 46px;
        line-height: 46px;
    }

    .songs {
        font-size: 38px;
    }

    .song {
        margin: 15px 0;
    }

    .coming-soon {
        font-size: 38px;
        margin: 15px 0;
    }
}