.music {
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.album-title {
    font-family: 'Bungee Shade';
    color: lightcoral;
    font-size: 38px;
    line-height: 38px;
}

.songs {
    font-family: 'Bungee Shade';
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.song {
    -webkit-text-stroke: 1px lightslategray; /* width and color */
    margin: 5px 0;
    height: 40px;
}

.song:hover {
    color: lightcoral;
    cursor: pointer;
}