.song-control-panel {
    position: fixed;
    bottom:32px;
    left: calc(50% - 176px);
    width: 340px;
    text-align: center;
    margin: 8px 0;
    border: #ec9d9d 3px solid;
    background-color: #f7f7f7;
    padding: 2px;
    z-index: 999;
    transition: opacity .2s linear;
}

.song-control {
    display: flex;
    justify-content: center;
}

.song-control > * {
    margin: 0 10px;
}

.song-control-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px;
    font-family: 'Bungee Shade';
    line-height: 1.5;
}

.song-control .song-control-button:hover {
    cursor: pointer;
    color: lightcoral;
}

.song-control-button {
    color: lightslategray;
}

.volume-slider.MuiSlider-root {
    width: 76px;
    color: lightslategray;
    padding: 12px 0 8px 0;
}

.elapsed-text {
    width: 132px;
}

.duration-indicator {
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100vw;
    background-color: lightslategray;
    transition: height .25s;
}

.duration-indicator:hover {
    background-color: rgb(100, 110, 121);
    height: 28px;
    transition: height .25s
} 


.elapsed-bar { 
    background-color: lightcoral;
    width: 20px;
    height: 100%;
}

.elapsed-bar:hover {
    background-color: rgb(236, 90, 90);
}