.song-control-panel {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 160px);
    width: 320px; /* do 320px */
    text-align: center;
    margin: 8px 0;
    border: #ec9d9d 1px solid;
    border-radius: 10px;
    padding: 2px;
}

.song-control {
    display: flex;
    justify-content: center;
}

.song-control > * {
    margin: 0 10px;
}

.song-control-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.song-control .song-control-button:hover {
    cursor: pointer;
    color: lightcoral;
}

.song-control-button {
    color: lightslategray;
}

.volume-slider.MuiSlider-root {
    width: 76px;
    color: lightslategray;
    padding: 12px 0 8px 0;
}

.elapsed-text {
    width: 132px;
}

.duration-indicator {
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 12px;
    width: 100vw;
    background-color: lightslategray;
    transition: height .25s;
}

.duration-indicator:hover {
    background-color: rgb(100, 110, 121);
    height: 20px;
    transition: height .25s
} 

.elapsed-bar { 
    background-color: lightcoral;
    width: 20px;
    height: 100%;
}
