.song-control {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 160px);
    width: 320px;
    height: 40px;
    text-align: center;
}

.song-control * {
    margin: 0 12px;
}

.song-control .song-control-button:hover {
    cursor: pointer;
    color: lightcoral;
}

.duration-indicator {
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 12px;
    width: 100vw;
    background-color: lightslategray;
}

.duration-indicator:hover {
    background-color: rgb(100, 110, 121);
} 

.elapsed-bar { 
    background-color: lightcoral;
    height: 12px;
    width: 20px;
}
