.app {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

.song-player {
    max-width: 500px;
    width: 100%;
}

.section-break {
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightslategray;
}

.altered-background {
    transition: background-color ease-in-out 10s;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}