.app {
    margin: 0 15vw;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.section-break {
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightslategray;
}

.altered-background {
    transition: background-color ease-in-out 10s;
    height: 100vh;
    width: 100vw;
}